version: "3.9"
services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 10s
      timeout: 5s
      retries: 5
  order-service:
    build: ./services/api/order-service
    environment:
      - RABBIT_URL=amqp://guest:guest@rabbitmq:5672
    ports:
      - "8080:8080"
    depends_on:
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
  scheduler-agent:
    build: ./services/workers/scheduler-agent
    environment:
      - RABBIT_URL=amqp://guest:guest@rabbitmq:5672
      - ORDER_URL=http://order-service:8080
    depends_on:
      rabbitmq:
        condition: service_healthy
      order-service:
        condition: service_healthy
